    <footer>
        <ul>
            <li>
                <a href=""><i class="fa-solid fa-igloo"></i></a>
            </li>
            <li><a href=""><i class="fa-solid fa-at"></i></a></li>
            <li><a href=""><i class="fa-solid fa-file-signature"></i></a></li>
            <li><a href="https://wa.me/+543816563940?text=I'm%20interested%20in%20your%20car%20for%20sale"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
        <p>ImpreNode - 2025</p>
    </footer>