<header>
    <a href="/"><img src="/images/logo.png" alt="logo-impreNode"></a>
    <nav>
        <ul>
            <li><a href="/products/">Catalogo</a></li>
            <li><a href="/sale">Ofertas</a></li>
            <% if (locals.isLogged) { %>
                    <li><a href="/users/profile">Perfil</a></li>
                    <li><a href="/logout">Cerrar Sesion</a></li>
                <% } else { %>
                    <li><a href="/users/login">Ingresar</a></li>
                    <li><a href="/users/register">Registrarse</a></li>
                    <% } %>
        </ul>
    </nav>
    <form class="search-input" action="" method="get">
        <input type="text" placeholder="🔎 Buscar">
    </form>
    <div class="menu">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>