:root {
    --primary-bgc: #60b69b;
    --secondary-bgc: #2c3e50;
    --primary-color: #27ae60;
    --secondary-color: #16a085;
    --text-detail: #ecf0f1;
    --text-primary: #46484b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bgc);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-detail);
    transition: all 0.5s;
}

a:hover {
    color: var(--primary-color);
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.51);
    transition: all 0.5s;
}

button:hover {
    color: var(--text-detail);
    background-color: var(--primary-color);
}

/* Header */
header {
    background-color: var(--secondary-bgc);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    gap: 10px;
}

.search-input {
    display: none;
}

header img {
    width: 70px;
}

.menu {
    color: var(--text-detail);
    font-size: 1.5rem;
}

/* Main */
main {
    flex-grow: 1;
}

.error {
    color: tomato;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: var(--secondary-bgc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

footer ul {
    display: flex;
    font-size: 1.8rem;
    gap: 15px;
    justify-content: center;
}

/* footer p {
    text-align: center;
} */

/* Tablet */
@media (min-width: 460px) {
    .menu {
        display: none;
    }
    nav {
        display: block;
    }
}
/* Laptop */
@media (min-width: 768px) {
    .search-input {
        display: block;
    }
}
