<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs', {style: 'detail.css' }) %>

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>

            <main>
                
            </main>
            <!-- Footer -->
            <%- include('../partials/footer.ejs') %>
                <!-- Bootstrap -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                    crossorigin="anonymous"></script>
    </body>

</html>