<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImpreNode</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="../../styles/general.css">
    <link rel="stylesheet" href="../../styles/catalog.css">
    <!-- Icons Font Awesome v6.7.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
            <!-- Bootstrap  -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <header>
        <img src="../../images/logo.png" alt="logo-impreNode">
        <nav>
            <ul>
                <li><a href="/catalog">Catalogo</a></li>
                <li><a href="/sale">Ofertas</a></li>
                <li><a href="/signin">Ingresar</a></li>
                <li><a href="/signup">Registrarse</a></li>
            </ul>
        </nav>
        <form class="search-input" action="" method="get">
            <input type="text" placeholder="🔎 Search">
        </form>
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
       
    </main>
    <footer>
        <ul>
            <li>
                <a href=""><i class="fa-solid fa-igloo"></i></a>
            </li>
            <li><a href=""><i class="fa-solid fa-at"></i></a></li>
            <li><a href=""><i class="fa-solid fa-file-signature"></i></a></li>
            <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
        <p>ImpreNode - 2025</p>
    </footer>
            <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>

</html>